* {
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap');

*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

.inicio {

    display: flex;
    flex-direction:column;
    justify-content: center;
    background: url(/imagenes/PCC.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    

}

.contenido-portada{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    

}

.contenido-portada h1 { 
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;

    }

.contenido-portada h2{
    font-size:3rem;
}


.foto_perfil  img {
    height: 400px;
    margin-left: 600px;
}

.red {
    font-size: 3rem;
display: flex;
justify-content: center;    
}

.datos{

    font-size:2rem ;
    margin: 30px 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;

}

.lista {
    width: 90%;
    margin:auto;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
}

.columnas1 {
 width: 70%;
 float: left;
 padding: 30px 30px;
 margin-bottom: 30px;

}

 h3 {

    font-size: 40px;
    color:green;
    margin-top: 15px;
    margin-bottom: 10px;

}

.columnas1 dd{
    text-transform: uppercase;
    text-transform: capitalize;
    font-size: 20px;
}

#titulo1 {

    height: 400px;  
}

#titulo2{
    height:500px;
}

